.avatar {
    background-color: black;
    border-radius: 50%;
    border: 2px solid rgba(175, 174, 174, 1);
    width: 32px;
    height: 32px;
}

.avatar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_profile_text {
    font-size: 7px;
    font-weight: 500;
}