.button_home {
    width: 268px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid black ;
    margin-left: 26px;
    font-size: 12px;
    font-family: 400;
    text-align: left;
    padding-left: 11px;
    margin-bottom: 15px;
}